<div class="row">
  <div class="col-md-5">
    <!-- <app-recipe-list 
      (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> -->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!-- <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]= "selectedRecipe">
    </app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>