<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="toggleNavBarCollapse()" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <!-- <div class="navbar-default"> -->
        <div class="collapse navbar-collapse" [ngClass]="{ 'show' : !isNavbarCollapsed }" id="myNavbar">

            <ul class="nav navbar-nav"> 
                <!-- <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
                <li routerLinkActive="active"><a routerLink="/recipes" (click)="toggleNavBarCollapse()">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list" (click)="toggleNavBarCollapse()">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!isAuthenticated()">
                    <li><a routerLink="/signup" (click)="toggleNavBarCollapse()">Register</a></li>
                    <li><a routerLink="/signin" (click)="toggleNavBarCollapse()">Login</a></li>
                </ng-template>
                <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated()" (click)="toggleNavBarCollapse()">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()" (click)="toggleNavBarCollapse()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()" (click)="toggleNavBarCollapse()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>